<h1>Sales EDA

Combining the sales data from the different sources and performing EDA on the combined data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# Python
import pandas as pd

# Replace 'file_path' with the path to your file
df = pd.read_excel('datasets\\Sales\\AMB.xlsx')

In [19]:
df

            DATE  PRODUCT CODE               DESCRIPTION  QTY
0     02/01/2022         12978  AMBEWELA SET YOGURT 80ML    6
1     01/01/2022         12978  AMBEWELA SET YOGURT 80ML    6
2     01/01/2022         12978  AMBEWELA SET YOGURT 80ML    1
3     01/01/2022         12978  AMBEWELA SET YOGURT 80ML    6
4     02/01/2022         12978  AMBEWELA SET YOGURT 80ML   10
...          ...           ...                       ...  ...
3810  15/06/2023         12978  AMBEWELA SET YOGURT 80ML    5
3811  03/11/2023         12978  AMBEWELA SET YOGURT 80ML   10
3812  04/11/2023         12978  AMBEWELA SET YOGURT 80ML   10
3813  04/11/2023         12978  AMBEWELA SET YOGURT 80ML   24
3814  04/11/2023         12978  AMBEWELA SET YOGURT 80ML    3

[3815 rows x 4 columns]

In [22]:
# Python
import pandas as pd
import os

# Directory where the Excel files are located
directory = 'datasets\\Sales'

# List to store the dataframes
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith(".xlsx") or filename.endswith(".xls"):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Read the Excel file
        df = pd.read_excel(file_path)
        
        # Select the required columns
        df = df[['DATE', 'PRODUCT CODE', 'DESCRIPTION', 'QTY']]
        
        # Append the dataframe to the list
        dfs.append(df)

# Concatenate all dataframes
final_df = pd.concat(dfs, ignore_index=True)

In [23]:
final_df

             DATE  PRODUCT CODE               DESCRIPTION   QTY
0      02/01/2022         12978  AMBEWELA SET YOGURT 80ML   6.0
1      01/01/2022         12978  AMBEWELA SET YOGURT 80ML   6.0
2      01/01/2022         12978  AMBEWELA SET YOGURT 80ML   1.0
3      01/01/2022         12978  AMBEWELA SET YOGURT 80ML   6.0
4      02/01/2022         12978  AMBEWELA SET YOGURT 80ML  10.0
...           ...           ...                       ...   ...
34627  09/10/2023         10415     HIGHLAND YOGHURT 80ML  12.0
34628  09/10/2023         10415     HIGHLAND YOGHURT 80ML   9.0
34629  09/10/2023         10415     HIGHLAND YOGHURT 80ML  13.0
34630  09/10/2023         10415     HIGHLAND YOGHURT 80ML   7.0
34631  09/10/2023         10415     HIGHLAND YOGHURT 80ML   5.0

[34632 rows x 4 columns]